:root {
  --font-family-heading: "Nunito", sans-serif;
  --main-branding: #662eed;
  --secondary-color: #272142;
}

h1,
h2 {
  color: black;
  font-size: 96px;
  font-weight: bold;
}

.nunito-hero {
  font-family: var(--font-family-heading);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
  margin: auto;
}

.hero h2 {
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}

.hero p {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: bold;
}

.btn {
  background: var(--main-branding);
  color: ivory;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  border-radius: 4px;
}

.btn :hover {
  color: var(--secondary-color);
}
